# config file for locally served lively stuff
handler=main
log=3
port=8081

#main.handlers=cookie proxymap proxy template file
main.handlers=session template file
main.class=sunlabs.brazil.server.ChainHandler

session.class=sunlabs.brazil.handler.CookieSessionHandler

template.class=sunlabs.brazil.template.TemplateHandler
template.suffix=.sjs


# proxy all sites that go through /proxy

#proxymap.class=sunlabs.brazil.handler.UrlMapperHandler
#proxymap.match=^/proxy/(.*)
#proxymap.replace=http://\\1

#proxy.class=sunlabs.brazil.proxy.ProxyHandler

template.templates=set bsl js queue pipe debug include add
#template.root=../../../
template.root=.

set.class=sunlabs.brazil.template.SetTemplate
set.query=query.
set.headers=headers.

bsl.class=sunlabs.brazil.template.BSLTemplate

js.class=sunlabs.brazil.javascript.JavaScriptTemplate
js.script=trunk/source/server/lib.js
js.debug=3

queue.class=sunlabs.brazil.template.QueueTemplate

pipe.class=sunlabs.brazil.sunlabs.PipeTemplate

debug.class=sunlabs.brazil.template.DebugTemplate
debug.debug=2

include.class=sunlabs.brazil.template.IncludeTemplate

add.class=sunlabs.brazil.template.AddHeaderTemplate

file.class=sunlabs.brazil.server.FileHandler
#file.root=../../../
file.root=.

mime.xml=text/xml
mime.xhtml=text/xml
mime.htm=text/hxml
mime.js=application/javascript
mime.sjs=text/html
mime.svg=image/svg+xml
mime.bsl=text/html
mime.wav=audio/wav
mime.PNG=image/png
mime.png=image/png
mime.jpg=image/jpg
mime.css=text/css
